DEV_SEED_PASSWORD=
SECRET_KEY=
FLASK_ENV=
DEV_SEED_STUDENT_USERNAME=
DEV_SEED_TEACHER_USERNAME=
DEV_SEED_ENTERPRISE_USERNAME=
DEV_SEED_GOVERNMENT_USERNAME=
DEV_SEED_SUPER_ADMIN_USERNAME=
DEV_SEED_ADMIN_USERNAME=
