DEV_SEED_PASSWORD=
SECRET_KEY=
FLASK_ENV=
DEV_SEED_STUDENT_USERNAME=
DEV_SEED_TEACHER_USERNAME=
DEV_SEED_ENTERPRISE_USERNAME=
DEV_SEED_GOVERNMENT_USERNAME=
DEV_SEED_SUPER_ADMIN_USERNAME=
DEV_SEED_ADMIN_USERNAME=

AI_API_URL=
AI_API_KEY=
AI_MODEL=Qwen/Qwen3-32B
AI_ASR_URL=
AI_ASR_MODEL=FunAudioLLM/SenseVoiceSmall
AI_TIMEOUT_SECONDS=60
